.content-container {
    background-color: #EAEAEE;
    padding: 2rem 5rem 4rem;
    width: calc(100vw - 10rem);
}

.content-container_title {
    color: #263238;   
    font-family: 'Gilroy-ExtraBold';
    font-size: 36px;
    line-height: 42px;
}

.content-container_text {
    color: #7D7D7D;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
}